<div class="sign">
    <div class="m_b_50">
        <input class="in in_default in_big left m_b_10" ng-model="user.firstname" type="text" placeholder="Name"/>
        <input class="in in_default in_big left m_b_10" ng-model="user.lastname" type="text" placeholder="Last Name"/>
        <input class="in in_default in_big left m_b_5" ng-model="user.phone" type="tel" placeholder="Phone Number"/>
        <br class="br">
        <input class="in in_default in_big left m_b_10" ng-model="user.email" type="email" placeholder="Email"/>
        <br class="br">
        <input class="in in_default in_big left m_b_20" ng-model="user.password" type="password" placeholder="Password"/>
        <input class="in in_default in_big left m_b_20" type="password" placeholder="Password again"/>
        <input ng-model="user.bday" class="in in_default in_big left m_b_5" type="date"/>
        <br class="br m_b_20">
        <br>
        <input class="in in_default in_big left m_b_5" ng-model="user.street" type="text" placeholder="Address"/>
        <input class="in in_default in_big left m_b_5" ng-model="user.nr" type="text" placeholder="Nr"/>
        <input class="in in_default in_big left m_b_5" ng-model="user.zipcode" type="text" placeholder="Zip code"/>
        <input class="in in_default in_big left m_b_5" ng-model="user.place" type="text" placeholder="Place"/>
        <select class="in in_default in_big left m_b_20" ng-model="user.country">
            <option>Belgium</option>
            <option>Finland</option>
        </select>
        <br class="br">
        <!-- TYPE -->
        <select ng-change="changeUserType()" ng-model="user.type" class="in in_default in_big left m_b_5">
            <option value="d">DOCENT</option>
            <option value="s">STUDENT</option>
        </select>
        <br class="br">
        <!-- SCHOOL -->
        <select ng-change="changeUserSchool()" ng-show="user.type=='s'" ng-model="user.school" class="in in_default in_big left m_b_5">
            <option ng-repeat="school in schools" value={{school._id}}>{{school.name}}</option>
        </select>
        <!-- KLAS -->
        <select ng-show="user.type=='s' && classes.length>0" ng-model="user.class" class="in in_default in_big left m_b_5">
            <option ng-repeat="class in classes" value="{{class._id}}">{{class.name}}</option>
        </select>
        <button class="btn btn_xl btn_green right txt_gray" ng-click="signup()">SIGN UP</button>
    </div>
    <div>
        <button class="btn btn_xl btn_blue right m_l_10 txt_gray" ng-click="goToSingIn()">LOGIN</button>
        <p class="left txt_gray">Do you have a account? sign in!</p>
    </div>
</div>